<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="whatsapp">
</head>
<body>
    <h1>All Chats</h1>
    <hr>
    <form method="GET" action="/chats/new">
    <button>New Chat</button></form>
    <div class="container">
   <% for(let chat of chats ){ %>
    <div class="chat">
        <p>From: <%= chat.from %></p>
    </div>
    <div class="massage">
        <p>Massage: <%= chat.msg %></p>
        <form method="GET" action="/chats/<%= chat._id %>/edit">
            <button>Edit</button>
        </form><br>
      <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
            <button>Delete</button>
        </form>   
    </div>
     <div class="to">
        <p>Recived by: <%= chat.to %></p>
        <!-- <p>Time: <%= chat.created_at.toString().split(" ")[4] %> <br/></p>
        <p>samay: <%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %> <br/></p>-->

<p>Time: <%= new Date(chat.created_at).toLocaleTimeString() %></p>
<p>Samay: <%= new Date(chat.created_at).toLocaleString("en-IN") %></p>
    </div> 
    <hr><br><br>
   <% } %>
</div>
</body>
</html>